// Shared with web client and login screen
.o_home_menu_background {
    background: url(/andirent_theme/static/img/home-andirent_2.svg),
        linear-gradient(to right bottom, #009ca8, #037983);
    background-position: top center;
    background-size: cover;
}